@import url("reset.css");
body,html,.wrapper{width: 100%;height: 100%;position: relative;overflow: hidden;color: #333333;}
.header{width: 100%;height: .8rem;position: absolute;top: 0;left: 0;display: flex;align-items: center;font-weight:600 ;font-size: .32rem;border-bottom: 1px solid #f4f4f4;background: #FFFFFF;}
.header img{width: .33rem;}
.bottom-text {margin-bottom: .15rem;}
.head-tab:first-of-type img{float: left;}
.head-tab:last-of-type img{float: right;}
.head-tab{width: 1.6rem;margin: 0 .2rem;font-size: .25rem;font-weight: 500;white-space: nowrap;text-align: right;}
.head-main{flex: 1;text-align: center;}
.bottom{width:100%;height: 1rem;position: absolute;bottom: 0;left: 0;display: flex;align-items: center;border-top: 1px solid #f4f4f4;background: #FFFFFF;}
.bottom-tab{flex: 1;display: flex;flex-direction: column;align-items: center;justify-content: center;}
.bottom-tab .active{color: #096148;}
.bottom-tab img{width: .4rem;height: .4rem;margin: .15rem 0;}
.main{height: calc(100% - 1.8rem);overflow-x: hidden;overflow-y: scroll;margin-top: .8rem;}
.big-main{height: calc(100% - .8rem);}
.header .back{width: .16rem;float: left;}
.alert{width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0,0,0,.5);display: flex;align-items: center;justify-content: center;}
.alert .alert-inner{background: #FFFFFF;width: 5rem;height: 3.5rem;border-radius: .2rem;overflow: hidden;}
.alert .button{background: #096148;color: #FFFFFF;height: 1rem;display: flex;align-items: center;justify-content: center;font-size: .3rem;}
.alert img{width: 1rem;height: 1rem;margin: .6rem auto 0;display: block;}
.alert .text{color: #096148;font-size: .3rem;margin: .2rem auto .4rem;text-align: center;}
input{border: 0;}
/*验证码登录*/
.plogin .main-inner{height: 100%;width: calc(100% - .6rem);margin: 0 auto;display: flex;flex-direction: column;}
.plogin .titile{font-size: .35rem;margin-top: .5rem;}
.plogin .subtitle{font-size: .24rem;margin: .2rem 0;}
.plogin .input-box{border-bottom: 1px solid #F4F4F4;display: flex;align-items: center;height: .8rem;margin-bottom: .3rem;}
.plogin .input-box input{height: .35rem;flex: 1;border-left: 1px solid gainsboro;text-indent: .2rem;}
.plogin .addcode{color: #B8B8B8;border: 1px solid #B8B8B8;border-radius: .3rem;width: 1.5rem;height: .5rem;display: flex;align-items: center;justify-content: center;}
.plogin .login{height: 1rem;border-radius: .5rem;color: #FFFFFF;font-size: .34rem;display: flex;align-items: center;justify-content: center;margin-top: 1.3rem;background: #096148;}
.plogin .login-type{display: flex;justify-content: flex-end;margin-top: .2rem;margin-right: .1rem;}
.plogin .three{flex: 1;display: flex;flex-direction: column;justify-content: flex-end;align-items: center;}
.plogin .thre-title{text-align: center;color: #B8B8B8;}
.plogin .three-box{display: flex;justify-content: center;}
.plogin .three-box img{height: .5rem;margin:.3rem .5rem;}
.plogin .input-box img{width: .5rem;}
/*消息*/
.new{background: #F4F4F4;}
.new .nav-tab{display: flex;background: #FFFFFF;border-bottom: 1px solid #F4F4F4;height: 1.2rem;align-items: center;}
.new .img-box{width: .8rem;height: .8rem;border-radius: .1rem;display: flex;align-items: center;justify-content: center;margin: 0 .25rem;}
.new .img-box img{width: .5rem;}
.new .type01{background: #6BC4AB;}
.new .type02{background: #4A90E2;}
.new .new-main{flex: 1;height: .75rem;display: flex;flex-direction: column;justify-content: space-between;margin-right: .2rem;}
.new .new-title{display: flex;justify-content: space-between;}
.new .title{color: #021A13;font-size:.28rem;}
.new .time{color: #B8B8B8;}
/*帮助*/
.help .help-item{height: .8rem;border-bottom: 1px solid #F4F4F4;display: flex;align-items: center;justify-content: space-between;}
.help .help-item div{margin: 0 .2rem;}
.help .help-item img{width: .15rem;margin-right: .2rem;width: .15rem;}
.help .help-item div:nth-of-type(2){color: #999999;}
/*订单状态*/
.neworder .nav-tab{margin:0 .2rem;padding: .3rem;}
.neworder .new-title{font-size: .35rem;margin-bottom: .2rem;}
.neworder .nav-title{text-align: center;color: #909090;line-height: .7rem;}
.new .new-main,.neworder .nav-tab{height: auto;}
.neworder .text{line-height: .35rem;}
/*个人中心*/
.usercenter{background: #F4F4F4;}
.usercenter .header{background: none;border: 0;color: #FFFFFF;z-index: 99;}
.usercenter .main{margin: 0;height: calc(100% - 1rem);}
.usercenter .center-top{width: 100%;height: 3rem;display: flex;color: #FFFFFF;padding-top: 1rem;box-sizing: border-box;position: relative;overflow: hidden;}
.usercenter .center-top .avatar{width: 1.3rem;height: 1.3rem;border-radius: 50%;margin: 0 .2rem;z-index: 66;}
.usercenter .name-box{flex: 1;display: flex;flex-direction: column;justify-content: space-between;height: 1.3rem;z-index: 66;}
.usercenter .name{font-size: .4rem;margin-top: .15rem;}
.usercenter .state-box{display: flex;justify-content: space-between;align-items: center;}
.usercenter .state{border-radius: .5rem;padding: .1rem .3rem;font-size: .23rem;margin-right: .2rem;color: #FFFFFF;}
.usercenter .backimg{position: absolute;top: 0;left: 0;width: 100%;filter: blur(20px);}
.usercenter .nav{background: #FFFFFF;width: calc(100% - .4rem);height: 1.3rem;border-radius: .2rem;display: flex;margin: -.5rem auto .2rem;z-index: 66;position: relative;font-size: .2rem;}
.usercenter .nav-tab{display: flex;flex-direction: column;align-items: center;flex: 1;}
.usercenter .nav-tab img{width: .4rem;height: .4rem;margin: .2rem 0 .1rem;}
.usercenter .text{text-align: center;}
.usercenter .user-tab{display: flex;align-items: center;width: 100%;height: 1rem;border-bottom: 1px solid #F4F4F4;background: #FFFFFF;}
.usercenter .user-tab .logo{width: .4rem;margin: 0 .2rem;}
.usercenter .tab-text{font-size: .28rem;flex: 1;}
.usercenter .user-tab .arr{width: .2rem;margin-right: .2rem;}
/*设置*/
.setting .avatar{height: 1.3rem;}
.setting .avatar img{width: .8rem;height: .8rem;border-radius: 50%;}
.setting input{flex: 1;text-indent: .2rem;}
.setting .submit{background: #096148;color: #FFFFFF;height: .9rem;position: absolute;bottom: 0;left: 0;width: 100%;display: flex;align-items: center;justify-content: center;}
/*关于我们*/
.aboutus h4{font-size: .3rem;margin: .2rem .2rem .1rem;}
.aboutus p{margin: 0 .25rem;font-size: .25rem;}
.aboutus .main img{width: calc(100% - .6rem);margin: .3rem;}
/*问题详情*/
.questiondetail h5{font-size: .28rem;margin: .3rem .2rem;}
.questiondetail p{font-size: .28rem;margin: 0 .3rem ;}
/*我的收益*/
.profit{background: #F4F4F4;}
.profit .profit-top{background: #FFFFFF;height: 3rem;width: 100%;display: flex;flex-direction: column;align-items: center;justify-content: center;margin-bottom: .5rem;}
.profit .price{font-size: .7rem;}
.profit .subtitile{font-size: .3rem;color: #758B85;margin-top: .15rem;}
.profit .proce{margin: .2rem;color: #758B85;}
.profit .withdraw{margin: 0 .2rem;background: #096148;color: #FFFFFF;height: 1rem;border-radius: .5rem;display: flex;align-items: center;justify-content: center;}
.profit .proce02{position: absolute;bottom: .3rem;width: 100%;text-align: center;}
.profit .proce02 a{color: #758B85;font-weight: 600;}
/*我的积分*/
.integral .profit-top{margin-bottom: .2rem;}
.integral .integral-tab{background: #FFFFFF;display: flex;align-items: center;height: .8rem;border-bottom: 1px solid #F4F4F4;}
.integral .integral-tab div{margin-left: .2rem;flex: 1;}
.integral .integral-tab img{width: .15rem;margin-right: .2rem;}
/*去提现*/
.profitgo .profit-top{align-items: flex-start;padding-left: .3rem;height: auto;}
.profitgo .profit-top input{font-size: .5rem;height: .5rem;color: #096148;margin: .8rem 0 .3rem;}
.profitgo .profit-top input::-webkit-input-placeholder{color: #096148;font-size: .35rem;}
.profitgo .profit-type{width: calc(100% - .6rem);display: flex;align-items: center;justify-content: space-between;height: .8rem;border-top: 1px solid #F4F4F4;margin-top: .2rem;color: #04271D;font-size: .25rem;}