<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					审批管理
				</div>
				<div class="head-tab" @click="opennew('examinedetail')">
					审批记录
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint">
				<div class="order-main">
					<div class="trade-top">
						<div class="trade-item" :class="myindex==0?'active':''" @click="indexchange(0)">
							<div class="text">活动审批</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==1?'active':''" @click="indexchange(1)">
							<div class="text">干洗店审批</div>
							<div class="radius"></div>
						</div>
					</div>
					<div class="trade-main">
						<div class="order-box" v-if="myindex==0">
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price">我的物料包</div>
									<div class="order-time setting">
										<a class="btn02" href="javascript:void(0)" style="margin: 0;" @click="opennew('shop')">购买物料包</a>
									</div>
								</div>
								<div class="order-bottom">
									<div class="order-price" v-for="val in navdata[0]">{{val.pName}} x{{val.pNum}}</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==0" v-for="val in navdata[1]" @click="opendetail(val.pbActivityTreasulrId)">
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price">申请人</div>
									<div class="order-time">{{val.usCpName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">申请物料包</div>
									<div class="order-time">{{val.pbMpName}}</div>
								</div>
								<div class="order-bottom bf4">
									<div class="order-price">活动开始时间</div>
									<div class="order-time">{{val.pbAtActionTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)" @click.stop="setting(val.pbActivityTreasulrId,3,val.pbMaterialPackageId)">拒绝</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="setting(val.pbActivityTreasulrId,1,val.pbMaterialPackageId)">通过</a>
									</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==1" v-for="val in navdata01">
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price">申请人</div>
									<div class="order-time">{{val.shopName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">店铺名称</div>
									<div class="order-time">{{val.usStShopName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">店铺地址</div>
									<div class="order-time">{{val.usStAddress}}</div>
								</div>
								<div class="order-bottom bf4">
									<div class="order-price">申请时间</div>
									<div class="order-time">{{val.usStCreateTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price"></div>
									<div class="order-time setting">
										<a class="btn01" href="javascript:void(0)" @click.stop="setting02(val.usStoreId,3)">拒绝</a>
										<a class="btn02" href="javascript:void(0)" @click.stop="setting02(val.usStoreId,1)">通过</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					myindex:0,
					navdata:[],
					navdata01:[]
				},
				methods:{
					opendetail:function(id){
						localStorage.setItem('pbActivityTreasulrId',id)
						this.opennew('examinedetail02')
					},
					setting02:function(id,type){
						var that=this
						var ajaxjson={
								usStoreId:id,
								usStExamineStatus:type
							}
						console.log(ajaxjson)
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/updateStoreStatus",
							dataType:'json',
							data:ajaxjson,
							success:function(res){
								console.log(res)
								if(res.status==200){
									function plusReady(){
										// 弹出系统等待对话框
										plus.nativeUI.toast('操作完成')
										that.myajax()
									}
									if(window.plus){
										plusReady();
									}else{
										document.addEventListener("plusready",plusReady,false);
									}
								}
							}
						});
					},
					setting:function(id,type,pbMaterialPackageId){
						var that=this
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/updateActivity",
							dataType:'json',
							data:{
								pbActivityTreasulrId:id,
								pbAtExamineStatus:type,
								usCityPartnerId:localStorage.getItem('usCityPartnerId'),
								pbMaterialPackageId:pbMaterialPackageId	
							},
							success:function(res){
								console.log(res)
								if(res.status==200){
									function plusReady(){
										// 弹出系统等待对话框
										plus.nativeUI.toast('操作完成')
										that.myajax()
									}
									if(window.plus){
										plusReady();
									}else{
										document.addEventListener("plusready",plusReady,false);
									}
								}
							}
						});
					},
					indexchange:function(index){
						this.myindex=index
					},
					opennew:function(target,id){
						mui.openWindow({
							url:'./'+target+'.html',
							id:target
						})
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/queryExaminePackage",
							dataType:'json',
							data:{
								usCityPartnerId:localStorage.getItem('usCityPartnerId')
							},
							success:function(res){
								console.log(res)
								that.navdata=res.data
							}
						});
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/queryUsStoreListByStatus",
							dataType:'json',
							data:{
								usCityPartnerId:localStorage.getItem('usCityPartnerId')
							},
							success:function(res){
								that.navdata01=res.data
							}
						});
					}
				},
				mounted:function(){
					this.myajax()
				}
			})
		</script>
	</body>
</html>