<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" type="text/css" href="css/main.css" />
		<script src="js/rem.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js" type="text/javascript" charset="utf-8"></script>
		<title></title>
	</head>
	<body>
		<div class="wrapper order trade">
			<!--头部-->
			<div class="header">
				<div class="head-tab mui-action-back">
					<img src="img/Arrow_Simple_left Copy@2x.png" class="back"/>
				</div>
				<div class="head-main">
					审批记录
				</div>
				<div class="head-tab">
					
				</div>
			</div>
			<!--中间主体-->
			<div class="main big-main complaint">
				<div class="order-main">
					<div class="trade-top">
						<div class="trade-item" :class="myindex==0?'active':''" @click="indexchange(0)">
							<div class="text">活动审批</div>
							<div class="radius"></div>
						</div>
						<div class="trade-item" :class="myindex==1?'active':''" @click="indexchange(1)">
							<div class="text">干洗店审批</div>
							<div class="radius"></div>
						</div>
					</div>
					<div class="trade-main">
						<div class="order-box" v-if="myindex==0" v-for="val in navdata">
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price">申请人</div>
									<div class="order-time">{{val.usCpName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">申请物料包</div>
									<div class="order-time">{{val.pbMpName}}</div>
								</div>
								<div class="order-bottom bf4">
									<div class="order-price">活动开始时间</div>
									<div class="order-time">{{val.pbAtActionTime}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">{{val.pbAtAuditTime}}</div>
									<div class="order-time setting red">
										{{val.pbAtExamineStatus | state}}
									</div>
								</div>
							</div>
						</div>
						<div class="order-box" v-if="myindex==1" v-for='val in navdata01'>
							<div class="order-right">
								<div class="order-bottom">
									<div class="order-price">申请人</div>
									<div class="order-time">{{val.shopName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">店铺名称</div>
									<div class="order-time">{{val.usStShopName}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">店铺地址</div>
									<div class="order-time">{{val.usStAddress}}</div>
								</div>
								<div class="order-bottom bf4">
									<div class="order-price">申请时间</div>
									<div class="order-time">{{val.usStCreateTimeString}}</div>
								</div>
								<div class="order-bottom">
									<div class="order-price">{{val.usStUpdateTime}}</div>
									<div class="order-time setting">
										已通过
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="js/mui.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var myvue=new Vue({
				el:'.wrapper',
				data:{
					myindex:0,
					navdata:'',
					navdata01:''
				},
				methods:{
					indexchange:function(index){
						this.myindex=index
					},
					opennew:function(type){
						if(type=='q'){
							window.location.href='./havetype.html'
						}else{
							
						}
					},
					myajax:function(){
						var that=this
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/queryAllActivity",
							dataType:'json',
							data:{
								usCityPartnerId:localStorage.getItem('usCityPartnerId')
							},
							success:function(res){
								console.log(res)
								that.navdata=res.data
							}
						});
						$.ajax({
							type:"post",
							url:localStorage.getItem('myurl')+"/usCityPartner/queryUsStoreListByAllStatus",
							dataType:'json',
							data:{
								usCityPartnerId:localStorage.getItem('usCityPartnerId')
							},
							success:function(res){
								console.log(res)
								that.navdata01=res.data
							}
						});
					}
				},
				mounted:function(){
					this.myajax()
				},
				filters:{
					state:function(value){
						switch (value){
							case 1:
							return '审核通过'
								break;
							case 2:
							return '等待审核'
								break;
							case 3:
							return '拒绝审核'
								break;								
						}
					}
				}
			})
		</script>
	</body>
</html>